<!-- about section start -->
<section class="flex md:h-[720px] bg-custom-green gap-16" id="about">
  <div
    class="hidden md:flex md:w-[30%] lg:w-[40%] xl:w-[50%] transition-all h-full items-center justify-center overflow-hidden"
  >
    <img
      src="./assets/about-photo.png"
      alt=""
      class="w-full h-full object-cover"
    />
  </div>
  <div
    class="w-[100%] md:w-[70%] lg:w-[60%] xl:w-[50%] text-center md:text-left py-[64px] md:py-[135px] pl-[48px] pr-[48px] md:pr-[92px] md:pl-[96px] text-custom-grey"
  >
    <div class="mb-[72px]">
      <span class="text-xs -tracking-[0.12px]">O firmie</span>
      <h2
        class="m-auto text-center md:text-left md:ml-0 text-5xl mb-10 mt-4 md:max-w-[250px] leading-tight"
      >
        <span class="font-monserrat -tracking-[1.44px]">Tworzymy z </span>
        <span class="font-inter italic">pasją</span>
      </h2>
      <p class="m-auto lg:m-0 -tracking-[0.16px] max-w-[500px]">
        Każdy projekt to nowe wyzwanie. Dlatego nasz zespół tworzą
        wykwalifikowani projektanci oraz architekci, których zadaniem jest
        rozpoznanie i realizacja potrzeb każdego Klienta. Nasza specjalizacja to
        przestrzenie nowoczesne, które charakteryzuje minimalizm, geometria i
        elegancka prostota. Tworzymy ogrody małoobsługowe, dostosowane do
        współczesnego trybu życia.
      </p>
    </div>
    <button
      class="group m-auto md:m-0 px-6 pt-3 pb-[14px] border-[1px] border-custom-grey rounded-full flex gap-2 items-center"
    >
      Poznaj nas bliżej
      <img
        src="./assets/gray-button-right.svg"
        alt=""
        class="group-hover:animate-bounce-right grayscale"
      />
    </button>
  </div>
</section>
<!-- about section end -->
