<!-- offer section start -->
<section
  id="offer"
  class="px-4 md:px-6 lg:px-[89px] pt-[120px] pb-[160px] flex flex-col gap-24 bg-custom-grey"
>
  <div class="m-auto w-[100%] lg:w-[1040px] text-center lg:text-left">
    <span class="text-xs -tracking-[0.12px]">Oferta</span>
    <h2 class="text-5xl mb-8 mt-4">
      <span class="font-monserrat -tracking-[1.44px]">Działamy</span>
      <span class="font-inter italic">kompleksowo</span>
    </h2>
    <p class="lg:max-w-[709px] -tracking-[0.16px]">
      Oferujemy kompletną obsługę inwestycji terenów zielonych. Projektujemy
      nowoczesne ogrody przydomowe oraz rezydencjonalne. Stworzymy dla Ciebie
      projekt, zwizualizujemy go i wcielimy w życie, a na każdym etapie
      posłużymy radą i wieloletnim doświadczeniem.
    </p>
  </div>
  <div class="xl:m-auto xl:max-w-[1440px]">
    <div
      class="flex flex-col xl:flex-row gap-16 child:bg-custom-white child:px-10 child:py-12 child:rounded-3xl child:hover:cursor-pointer child:max-w-[650px]"
    >
      <div
        class="mx-auto flex flex-col justify-between group hover:scale-105 transition-all"
      >
        <div>
          <img
            src="./assets/projects-icon.svg"
            alt=""
            class="mb-[34px] w-10 h-10 group-hover:animate-wave"
          />
          <h3
            class="font-monserrat text-[28px] leading-[115%] mb-[12px] -tracking-[1.4px]"
          >
            Projekty
          </h3>
          <p class="text-sm -tracking-[0.14px] leading-6 mb-[63px]">
            Zaprojektujemy Twój ogród w nowoczesnym stylu i z najlepszym
            wykorzystaniem istniejącej przestrzeni.
          </p>
        </div>
        <div>
          <button
            class="relative pb-1 flex items-center gap-[10px] border-b-[1px] border-b-custom-green"
            aria-label="dowiedz się więcej o projektach"
          >
            <span
              class="group-hover:text-[1.10rem] text-custom-green transition-all"
              >Dowiedz się więcej</span
            >
            <img
              src="./assets/offer-arrow-right.svg"
              alt=""
              class="group-hover:animate-bounce-right"
            />
            <div
              class="absolute -bottom-0.5 left-0 w-full h-[3px] bg-custom-green transform scale-x-0 group-hover:scale-x-110 transition-transform"
            ></div>
          </button>
        </div>
      </div>
      <div
        class="mx-auto flex flex-col justify-between group hover:scale-105 transition-all"
      >
        <div>
          <img
            src="./assets/visualizations-icon.svg"
            alt=""
            class="mb-[34px] w-10 h-10 group-hover:animate-bounce"
          />
          <h3
            class="font-monserrat text-[28px] leading-[115%] mb-[12px] -tracking-[1.4px]"
          >
            Wizualizacje
          </h3>
          <p class="text-sm -tracking-[0.14px] leading-6 mb-[63px]">
            Przedstawimy Ci projekty koncepcyjne w postaci wirtualnego spaceru
            animowanego w technologii 3D.
          </p>
        </div>
        <div>
          <button
            class="relative pb-1 flex items-center gap-[10px] border-b-[1px] border-b-custom-green text-custom-green"
            aria-label="dowiedz się więcej o projektach"
          >
            <span class="group-hover:text-[1.10rem] transition-all"
              >Dowiedz się więcej</span
            >
            <img
              src="./assets/offer-arrow-right.svg"
              alt=""
              class="group-hover:animate-bounce-right"
            />
            <div
              class="absolute -bottom-0.5 left-0 w-full h-[3px] bg-custom-green transform scale-x-0 group-hover:scale-x-110 transition-transform"
            ></div>
          </button>
        </div>
      </div>
      <div
        class="mx-auto flex flex-col justify-between group hover:scale-105 transition-all"
      >
        <div>
          <img
            src="./assets/realizations-icon.svg"
            alt=""
            class="mb-[34px] w-10 h-10 group-hover:animate-ping"
          />
          <h3
            class="font-monserrat text-[28px] leading-[115%] mb-[12px] -tracking-[1.4px]"
          >
            Realizacje
          </h3>
          <p class="text-sm -tracking-[0.14px] leading-6 mb-[63px]">
            Zrealizujemy Twoje marzenie przy użyciu najnowszych rozwiązań i
            zaawansowanych technologii.
          </p>
        </div>
        <div>
          <button
            class="relative pb-1 flex items-center gap-[10px] border-b-[1px] text-custom-green border-b-custom-green"
            aria-label="dowiedz się więcej o projektach"
          >
            <span class="group-hover:text-[1.10rem] transition-all"
              >Zobacz naszę realizację</span
            >
            <img
              src="./assets/offer-arrow-right.svg"
              alt=""
              class="group-hover:animate-bounce-right"
            />
            <div
              class="absolute -bottom-0.5 left-0 w-full h-[3px] bg-custom-green transform scale-x-0 group-hover:scale-x-110 transition-transform"
            ></div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- offer section end -->
