<footer class="py-20 bg-custom-black text-custom-grey">
  <div class="m-auto w-[90%] max-w-[1040px]">
    <div class="flex flex-col gap-[62px] mb-[120px]">
      <div
        class="flex flex-col sm:flex-row gap-16 sm:gap-0 justify-between items-center"
      >
        <a href="#top">
          <img src="./assets/giarddesign-footer.svg" alt="giarddesign logo" />
        </a>
        <div class="flex flex-col lg:flex-row items-center gap-6">
          <p class="-tracking-[0.16px]">
            Daj znać, co możemy dla Ciebie zrobić!
          </p>
          <button
            class="px-6 pt-3 pb-[14px] border-[2px] rounded-full border-custom-green bg-custom-green transition-all hover:bg-transparent hover:text-custom-green"
          >
            Skontaktuj się z nami
          </button>
        </div>
      </div>
      <div class="h-[1px] w-[100%] bg-custom-grey"></div>
      <div
        class="m-auto lg:mx-0 flex flex-col lg:flex-row gap-12 justify-between"
      >
        <ul class="flex flex-col sm:flex-row gap-12 child:text-center">
          <li>
            <a class="relative group hover:text-custom-green" href="#"
              >Kontakt
              <span
                class="absolute left-0 bottom-[-2px] w-0 group-hover:w-[100%] h-[1px] bg-custom-green transition-width duration-300"
              ></span>
            </a>
          </li>
          <li>
            <a class="relative group hover:text-custom-green" href="#"
              >Instagram
              <span
                class="absolute left-0 bottom-[-2px] w-0 group-hover:w-[100%] h-[1px] bg-custom-green transition-width duration-300"
              ></span>
            </a>
          </li>
          <li>
            <a class="relative group hover:text-custom-green" href="#"
              >Facebook
              <span
                class="absolute left-0 bottom-[-2px] w-0 group-hover:w-[100%] h-[1px] bg-custom-green transition-width duration-300"
              ></span>
            </a>
          </li>
          <li>
            <a class="relative group hover:text-custom-green" href="#"
              >Linkedin
              <span
                class="absolute left-0 bottom-[-2px] w-0 group-hover:w-[100%] h-[1px] bg-custom-green transition-width duration-300"
              ></span>
            </a>
          </li>
        </ul>
        <div class="flex justify-center gap-12">
          <address class="not-italic">
            <a
              href="tel:000-000-000"
              class="relative group hover:text-custom-green"
              >000-000-000
              <span
                class="absolute left-0 bottom-[-2px] w-0 group-hover:w-[100%] h-[1px] bg-custom-green transition-width duration-300"
              ></span>
            </a>
          </address>
          <address class="not-italic">
            <a
              href="mailto: giarddesign@kontakt.pl"
              class="relative group hover:text-custom-green"
            >
              giardesign@kontakt.pl
              <span
                class="absolute left-0 bottom-[-2px] w-0 group-hover:w-[100%] h-[1px] bg-custom-green transition-width duration-300"
              ></span>
            </a>
          </address>
        </div>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row items-center justify-between">
      <span>Prawa zastrzeżone &copy; 2022</span>
      <address class="flex gap-4">
        made by
        <a rel="author" href="https://adrespect.pl/" target="_blank"
          ><img src="./assets/adrespect-logo.svg" alt="adRespect logo"
        /></a>
      </address>
    </div>
  </div>
</footer>
